{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}" />
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"rel="nofollow”
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
    crossorigin="anonymous">
  </head>
  <body>
    <h1>Students...</h1>

    <table class="table table-striped table-hover table-bordered">
      {% for item in all %}
      <tr>
        <td><a href="{%url 'show-students' item.id%}">{{item}}</a></td>
        <td align="right">
          <a
            href="{% url 'update-students' item.id %}"
            class="btn btn-outline-secondary btn-sm"
            >Update</a
          >
          <a
            href="{% url 'delete-students' item.id %}"
            class="btn btn-outline-danger btn-sm"
            >Delete</a
          >
        </td>
      </tr>

      {% endfor %}
    </table>
  </body>
  {%endblock%}
</html>
