{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}" />
  </head>
  <body>
    <h1>Company Profiles</h1>

    <h1>{{allCompany}}</h1>
    <center>
    
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">{{showcompany}}</div>
        <div class="card-body">
          <h5 class="card-title">{{showcompany.companyName}}</h5>
          <h5 class="card-title">{{showcompany.jobTitle}}</h5>
          <h5 class="card-title"> {{showcompany.jobLocation}}</h5>
          <h5 class="card-title"> <button>Apply</button></h5>


          
    </div>
</center>
  </body>
  {%endblock%}
</html>
